Q1. List any five functions of the pandas library with execution.

In [5]:
#read_csv(): This function is used to read data from a CSV file and create a DataFrame.
import pandas as pd
# Read CSV file and create DataFrame
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [11]:
#head(): It returns the first n rows of a DataFrame. By default, it returns the first 5 rows.
data1 = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})
data1.head(3)

   A  B
0  1  a
1  2  b
2  3  c

In [12]:
#info(): It provides a summary of the DataFrame, including the data types of each column and the number of non-null values.
# Create a DataFrame
data2 = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']})
# Get summary information
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [13]:
#groupby(): This function is used to group the data based on one or more columns, allowing further analysis or computations to be performed on the grouped data.
# Create a DataFrame
data3 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
                     'Score': [85, 92, 78, 90, 88]})
# Group the data by 'Name' and calculate the average score
grouped_data = data3.groupby('Name')
average_score = grouped_data['Score'].mean()
print(average_score)

Name
Alice      87.5
Bob        90.0
Charlie    78.0
Name: Score, dtype: float64

In [9]:
#merge(): It is used to combine two or more DataFrames based on a common column or index.
# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [3, 4, 5], 'C': [7, 8, 9]})

# Merge the DataFrames on column 'A'
merged_data = pd.merge(df1, df2, on='A')
print(merged_data)

   A  B  C
0  3  6  7

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [14]:
def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    return df_reindexed

df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
# Reindex the DataFrame
df_reindexed = reindex_dataframe(df)

print(df_reindexed)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [15]:
import pandas as pd

def calculate_sum_of_first_three(df):
    values_column = df['Values']
    sum_of_first_three = sum(values_column[:3])
    print("Sum of the first three values:", sum_of_first_three)

# Example usage:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate the sum of the first three values
calculate_sum_of_first_three(df)

Sum of the first three values: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [16]:
import pandas as pd

def add_word_count_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage:
df = pd.DataFrame({'Text': ['Hello world', 'This is a sentence', 'Python is awesome']})

# Add the 'Word_Count' column
df_with_word_count = add_word_count_column(df)

print(df_with_word_count)

                 Text  Word_Count
0         Hello world           2
1  This is a sentence           4
2   Python is awesome           3

Q5. How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size and DataFrame.shape attributes in pandas provide different information about the dimensions of a DataFrame:

DataFrame.size:
DataFrame.size returns the total number of elements in the DataFrame, which is calculated by multiplying the number of rows by the number of columns.
It represents the total size of the DataFrame in terms of the number of values.
The returned value is an integer.

DataFrame.shape:
DataFrame.shape returns a tuple representing the dimensions of the DataFrame.
It provides the number of rows followed by the number of columns in the DataFrame.
The returned value is a tuple of integers.

Q6. Which function of pandas do we use to read an excel file?

In [20]:
import pandas as pd

# Read Excel file and create DataFrame
df = pd.read_excel('FEES CHART.xlsx')

# Perform operations on the DataFrame
print(df.head())

  FEES PER MONTH  Unnamed: 1
0        CLASS 5        2000
1        CLASS 6        2000
2        CLASS 7        4000
3        CLASS 8        5000
4        CLASS 9        6000

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [21]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})

# Extract the username and create the 'Username' column
df_with_username = extract_username(df)

print(df_with_username)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [22]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

# Select rows based on conditions
selected_df = select_rows(df)

print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [24]:
import pandas as pd

def calculate_statistics(df):
    values_column = df3['Values']
    mean = values_column.mean()
    median = values_column.median()
    std_dev = values_column.std()
    return mean, median, std_dev

# Example usage:
df3 = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})

# Calculate statistics for the 'Values' column
mean_val, median_val, std_dev_val = calculate_statistics(df3['Values'])

print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_dev_val)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [1]:
import pandas as pd

def calculate_moving_average(df):
    window_size = 7
    df['MovingAverage'] = df['Sales'].rolling(window_size, min_periods=1).mean()
    return df

# Example usage:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=10),
                   'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})

# Calculate the moving average with a window size of 7
df_with_ma = calculate_moving_average(df)

print(df_with_ma)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [2]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Example usage:
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05'])})

# Add the 'Weekday' column
df_with_weekday = add_weekday_column(df)

print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [3]:
import pandas as pd

def select_rows_by_date(df, start_date, end_date):
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df.loc[mask]
    return selected_rows

# Example usage:
df = pd.DataFrame({'Date': pd.to_datetime(['2023-01-01', '2023-01-15', '2023-02-05', '2023-01-10']),
                   'Value': [10, 20, 30, 40]})

# Select rows between '2023-01-01' and '2023-01-31'
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2023-01-31')
selected_df = select_rows_by_date(df, start_date, end_date)

print(selected_df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
3 2023-01-10     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [4]:
import pandas as pd